<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Admin Event Applications</title>
    <script src="/adminEventController.js"></script>
</head>
<body>
<h1>Applications for Event ID: <span th:text="${eventUID}"></span></h1>

<input type="hidden" id="eventUID" th:value="${eventUID}" />

<div id="adminSearchApplicationIDContainer">
    <h2>Application Details</h2>
    <label for="adminSearchApplicationID">Enter Application ID:</label>
    <input type="number" id="adminSearchApplicationID" placeholder="Enter Application ID">
    <button onclick="fetchStudentApplicationDetails()">Search</button>
</div>

<div id="adminSearchProfProfileIDContainer">
    <h2>Final Decision</h2>
    <button onclick="fetchFinalDecision()">fetch</button>
</div>

<div>
    <h2>Application List</h2>
    <ul id="applicationList">
        <!-- Application items will be populated here by JS -->
    </ul>
</div>
</body>
</html>
