<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin - Create Event</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js"></script>
  <script src="/adminController.js"></script>
</head>
<body>
<div class="title-container">
  <h1>Create Event</h1>
</div>
<div class="form-container">
  <label for="initDate">Start Date:</label>
  <input type="text" id="initDate" placeholder="Select start date" required><br><br>

  <label for="duration">Duration:</label>
  <input type="text" id="duration" placeholder="e.g., 2 hours, 3 days" required><br><br>

  <label for="title">Title:</label>
  <input type="text" id="title" placeholder="Event Title" required><br><br>

  <label for="description">Description:</label>
  <textarea id="description" placeholder="Enter event description" required></textarea><br><br>

  <input type="submit" value="Create Event" onclick="createNewEvent()">



</div>
</body>
</html>
