<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin View Application</title>
    <script src="/adminApplicationController.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/adminApplication.css}">

</head>
<body>
<h1>Application: <span th:text="${applicationUID}"></span></h1>

<input type="hidden" id="applicationUID" th:value="${applicationUID}">

<fieldset>
    <legend>Application Information</legend>
    <input type="submit" value="View CV" onclick="viewFile('cv')"><br><br>
    <input type="submit" value="View Diploma" onclick="viewFile('dp')"><br><br>
    <input type="submit" value="View Grade Audit" onclick="viewFile('gd')"><br><br>

    <label for="desiredProfs">Interested Professors:</label>
    <textarea id="desiredProfs" th:text="${desiredP}" readonly></textarea><br><br>
    <label for="researchFields">Research Fields:</label>
    <textarea id="researchFields" th:text="${researchF}" readonly></textarea><br><br>
</fieldset>

<label for="assignedToProf">Assigned To Prof: </label>
<input type="text" id="assignedToProf" name="assignedToProf"><br><br>
<input type="submit" value="submit" onclick="assignedToProf()">
</body>
</html>
