<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin - Create Event</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js"></script>
  <script src="/adminController.js"></script>
</head>
<body>
<div class="title-container">
  <h1>Create Event</h1>
</div>
<div class="form-container">
  <label for="initDate">Start Date:</label>
  <input type="text" id="initDate" placeholder="Select start date" required><br><br>

  <select id="duration1" required>
    <option value="">Select</option>
  </select>
  <select id="duration2" required>
    <option value="">Select</option>
  </select>
  <select id="duration3" required>
    <option value="">Select</option>
  </select>
  <select id="duration4" required>
    <option value="">Select</option>
  </select>
  <select id="duration5" required>
    <option value="">Select</option>
  </select>
  <br><br>

  <label for="title">Title:</label>
  <input type="text" id="title" placeholder="Event Title" required><br><br>

  <label for="description">Description:</label>
  <textarea id="description" placeholder="Enter event description" required></textarea><br><br>

  <input type="submit" value="Create Event" onclick="createNewEvent()">
</div>

<div id="eventListContainer">
  <h2>Event List</h2>
  <ul id="eventList"></ul>
</div>

<div id="eventDetailsContainer">
  <h2>Find Event Details</h2>
  <label for="searchEventID">Enter Event ID:</label>
  <input type="number" id="searchEventID" placeholder="Enter Event ID">
  <button onclick="fetchEventDetails()">Search</button>

  <div id="eventDetails">
    <h3>Event Title: <span id="eventTitle"></span></h3>
    <p>Description: <span id="eventDescription"></span></p>
  </div>
</div>
</body>
</html>
