<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assigned Students</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<h1>Assigned Students</h1>

<table id="assigned-student-table" style="width:100%; border-collapse: collapse;">
    <thead>
    <tr>
        <th style="text-align: left; width: 15%;">Select</th>
        <th style="text-align: left; width: 25%;">Student ID</th>
        <th style="text-align: left; width: 25%;">Student CV</th>
        <th style="text-align: left; width: 25%;">Student Diploma</th>
        <th style="text-align: left; width: 25%;">Student Grade</th>
        <th style="text-align: left; width: 30%;">Evaluation</th>
    </tr>
    </thead>
    <tbody id="table-body">
    <!-- Rows will be dynamically added here -->
    </tbody>
</table>

<!-- Submit button for professor's selection -->
<button type="button" onclick="submitSelection()">Submit Selection</button>


<button type="button" onclick="editProfProfile()">Edit Prof Profile</button>


<script src="/assignedStudents.js"></script>
</body>
</html>
