<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assigned Students</title>
</head>
<body>

<h1>Assigned Students</h1>

<table id = "assigned-student-table" style="width:100%">
    <tr>
        <th>Select</th>
        <th>Student ID</th>
         <th>Application File</th>
         <th>Evaluation</th>
    </tr>

  <tbody id="table-body">

  </tbody>

</table>

<!-- Submit button for professor's selection -->
<button onclick="submitSelection()">Submit Selection</button>

<script src="/assignedStudents.js"></script>



</body>
</html>