<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Professor Profile</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/profProfileController.js"></script>
</head>
<body>
<h1>Professor Profile</h1>
<form id="profProfileForm">
  <label for="research">Research:</label>
  <input type="text" id="research" name="research"><br><br>
  <label for="info">Information:</label>
  <input type="text" id="info" name="info"><br><br>
  <input type="submit" value="Submit">
</form>
<div id="profileList"></div>
</body>
</html>




